body {
  background: #efefef;
}

.time {
  height: 20vh;
  width: 100%;
  position: fixed;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 5px;
}

.timeline {
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  margin-top: 0;
}

.ticks .block {
  position: absolute;
  font-weight: 800;
  border-left: 5px dashed #ccc;
  padding-left: 50px;
  height: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  line-height: 60px;
  justify-content: space-evenly;
  padding-top: 120px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.ticks .block .time-block {
  font-size: 160px;
  color: #e8213a;
}

.ticks .block .time-block:nth-child(2) {
  font-size: 120px;
  color: #c3bf00;
}

.ticks .block .time-block:nth-child(3) {
  font-size: 80px;
  color: #608efa;
}

.ticks .block .time-block span {
  color: #ccc;
  font-size: 60px;
}