
figure {
  position: absolute;
  user-select: none;
  pointer-events: none;
  transition: transform 1s linear;
  bottom: 15%;
  height: 75%;
}

.find-artash {
  color: white;
  position: fixed;
  left: 50px;
  top: 50px;
  width: 250px;
  height: 80px;
  background-color: hsl(231, 88%, 40%);
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 800;
  border: 0;
  border-radius: 50px;
  transition: all .2s ease-in-out;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .3);
  outline: 0;
}

.find-artash:hover {
  cursor: pointer;
  transform: translateY(-5px);
  background-color: hsl(231, 88%, 55%);
  box-shadow: 0 15px 26px 0 rgba(0, 0, 0, .2);
}

.find-artash:active {
  background-color: hsl(231, 88%, 65%);
}

#head {
  position: absolute;
  top: 0;
  left: 12%;
  width: 54%;
  animation: head 1s infinite linear;
  animation-direction: alternate;
}

#body {
  height: 100%;
  margin-top: 50%;
}

#hand {
  top: 24%;
  left: 12%;
  width: 77%;
  position: absolute;
  animation: hand 2s infinite linear;
  animation-direction: alternate;
}

#hand-behind {
  top: 24%;
  left: 12%;
  width: 77%;
  position: absolute;
  animation: handBehind 2s infinite linear;
  animation-direction: alternate;
}

@keyframes head {
  from { transform: rotate(-7deg); transform-origin: bottom center; }
  to { transform: rotate(10deg); transform-origin: bottom center; }
}

@keyframes hand {
  from { transform: rotate(-5deg); transform-origin: 40% 10%; }
  to { transform: rotate(10deg); transform-origin: 40% 10%; }
}

@keyframes handBehind {
  from { transform: rotate(-5deg); transform-origin: 40% 10%; }
  to { transform: rotate(50deg); transform-origin: 40% 10%; }
}
